<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS - Guia Completo</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

    <div id="app">
        <button @click="mostrar = !mostrar">Toggle</button>
        <!-- 
           Usar v-show quando tiver alternância frequente.
           Usar v-if quando tiver pouca alternância.
        -->
        <p v-if="mostrar">Diretiva v-if "{{ mostrar }}": <span>{{ texto }}</span></p>
        <p v-show="mostrar">Diretiva v-show "{{ mostrar }}": <span>{{ texto }}</span></p>
        <input v-model="texto">
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                mostrar: true,
                texto: 'Olá VueJS'
            } 
        });
    </script>
    
</body>
</html>